#Temporaryfolders#
#####################
temp
template
output

#Don'tcommitthisbecauseit'ssolarge#
###########################################
/input-cache/org.hl7.fhir.publisher.jar

#Windowsgeneratedfiles#
###########################
Thumbs.db

#OSgeneratedfiles#
######################
.DS_Store
.DS_Store?

#backupfiles#
################
*.bak
/bundles/measure/BreastCancerScreeningCQM/BreaseCancerScreeningCQM-files
/bundles/plandefinition/BreastCancerScreeningCDS/BreastCancerScreeningCDS-files
/input-cache

#addedbydhes#
#################

.devcontainer/
.vscode/
_autoPublish.bat
_gencontinuous.bat
_gencontinuous.sh
_genonce.bat
_genonce.sh
_refresh.bat
_refresh.sh
_updateCQFTooling.bat
_updateCQFTooling.sh
_updatePublisher.bat
_updatePublisher.sh
bundles/
input/tests/results/*
.env
bundles/
